<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="structuredTraceTestListener"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility" />
    </sharedListeners>
    <sources>
      <source name="structuredTraceTestSource" switchValue="All">
        <listeners>
          <clear />
          <add name="structuredTraceTestListener" />
        </listeners>
      </source>
      <source name="Essential.Diagnostics.Structured.Tests" switchValue="All">
        <listeners>
          <clear />
          <add name="structuredTraceTestListener" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>