<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="xmlwriter" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="xmlwriter" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--
        XmlWriterTraceListener - Writes E2ETraceEvent XML fragments to a file, suitable 
        for viewing using the Service Trace Viewer tool.
        
        For an alternative that supports rolling E2ETraceEvent files with various creation
        frequency (hourly, daily, weekly), see RollingXmlTraceListener.
        
        initalizeData - path of the file to write to.
        
        traceOutputOptions - ignored.
        
        <add name="xmlwriter"
          type="System.Diagnostics.XmlWriterTraceListener"
          initalizeData=""
          />
      -->
      <add name="xmlwriter"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\Logs\Trace.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
