<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
         type="System.Diagnostics.XmlWriterTraceListener"
         initializeData="HelloXmlWriter.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
