<?xml version="1.0"?>
<configuration>
  <system.diagnostics>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="emailTraceListener" initializeData="arnold@fonlowmail.com" type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics" maxConnections="2" sendAllTimeoutInSeconds="10"/>

      </listeners>
    </trace>

  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="andy@fonlowmail.com">
        <network host="localhost" port="9999" defaultCredentials="true"/>
        <specifiedPickupDirectory pickupDirectoryLocation="d:\MockData\MailPickup"/>
      </smtp>
    </mailSettings>
  </system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
