<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
        type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
        template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}"
        convertWriteToEvent="true" />
      <add name="seq"
        type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener"
        initializeData="http://localhost:5341"
        apiKey="" />
      <add name="seq2"
        type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener"
        initializeData="http://localhost:5341"
        traceOutputOptions="LogicalOperationStack,ProcessId"
        additionalProperties="ThreadId,ProcessId,MachineName,User"
        apiKey="" />
    </sharedListeners>
    <sources>
      <source name="SeqFrameworkDiagnosticsExample" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="seq" />
        </listeners>
      </source>
      <source name="SeqSource2" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="seq2" />
        </listeners>
      </source>
    </sources>
    <trace>
      <listeners>
        <clear />
        <add name="coloredconsole" />
        <add name="seq" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>