<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="colored" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="colored" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="colored"
         type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
         template="{DateTime} {EventType}: {Message}"
         activityTracingColor="DarkGreen"
         transferColor="Blue" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
