<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="coloredconsole" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--
        ColoredConsoleTraceListener - Writes to the console output or error stream,
        using color to highlight event types and allowing a customised output format.
        
        The event and context information can be formatted using a custom format
        string containing argument tokens in curly braces. Standard .NET formatting
        can be applied to these values, e.g. "{DateTime:yyyy-MM-dd}" outputs the
        year, month and day.
        
        The following parameters are available in the template string:
        Data, Data0, EventType, Id, Message, ActivityId, RelatedActivityId, Source, 
        Callstack, DateTime (or UtcDateTime), LocalDateTime, LogicalOperationStack, 
        ProcessId, ThreadId, Timestamp, MachineName, ProcessName, ThreadName,
        ApplicationName.

        The default format is "{Source} {EventType}: {Id} : {Message}", and default colors
        used are Red for Critical, DarkRed for Error, Yellow for Warning, DarkCyan for Verbose,
        and Gray for all other messages.
                
        initalizeData - if false (default) the listener writes to the console output stream;
        if true the listener writes to the console error stream instead.
        
        traceOutputOptions - are written on separate lines after each trace output in a fixed
        format; largely redundant as the template can be used to format as desired
        
        activityTracingColor (and other Color properties) - ConsoleColor to use for the corresponding
        events

        convertWriteToEvent - if false (default), calls to Trace.Write() and Trace.WriteLine() are output
        directly to the console stream; if true, these messages are converted to event traces with
        a TraceEventType of Verbose (and formatted the same as other events).
        
        template - the format template to use (see above for values)
        
        <add name="coloredconsole"
          type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
          initalizeData="false|true"
          traceOutputOptions="ProcessId,LogicalOperationStack,ThreadId,DateTime,Timestamp,Callstack"
          activityTracingColor="Black|Blue|Cyan|DarkBlue|DarkCyan|DarkGray|DarkGreen|DarkMagenta|DarkRed|DarkYellow|Gray|Green|Magenta|Red|White|Yellow"
          convertWriteToEvent="false|true"
          criticalColor="<color>"
          errorColor="<color>"
          informationColor="<color>"
          resumeColor="<color>"
          startColor="<color>"
          stopColor="<color>"
          suspendColor="<color>"
          template=""
          transferColor="<color>" 
          verboseColor="<color>"
          warningColor="<color>"
          />
      -->
      <add name="coloredconsole"
        type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
        template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}"
        convertWriteToEvent="true" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
