<configuration>
  <system.diagnostics>
    <sources>
      <source name="Hello" switchValue="All">
        <listeners>
          <clear />
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
