<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console"
         type="System.Diagnostics.ConsoleTraceListener"
         traceOutputOptions="DateTime,LogicalOperationStack,Timestamp, ProcessId, ThreadId, Callstack" />
      <add name="color"
         type="Essential.Diagnostics.ColoredConsoleTraceListener, Net.Diagnostics"
         template="{DateTime} {ThreadId}|{LogicalOperationStack}|{EventType}|{blah}: {Id} : {Message}"
		     transferColor="Green"
         />
      <!--
format="{DateTime} {EventType}: {Message}"
         activityTracingColor="DarkGreen"
         transferColor="Blue" />
-->
    </sharedListeners>
  </system.diagnostics>
</configuration>
