<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <clear/>
          <add name="console"/>
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <clear/>
          <add name="console"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
