<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="xml" />
          <add name="event" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="xml" />
          <add name="event" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console"
         type="System.Diagnostics.ConsoleTraceListener"
         traceOutputOptions="DateTime,LogicalOperationStack,Timestamp, ProcessId, ThreadId, Callstack" />
      <add name="color"
         type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
         template="{DateTime} {EventType}: {Message}"
         activityTracingColor="DarkGreen"
         transferColor="Blue" />
      <add name="xml"
         type="System.Diagnostics.XmlWriterTraceListener"
         initializeData="Log-HelloLogging.xml" />
      <add name="event"
         type="System.Diagnostics.EventSchemaTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"
         initializeData="Log-HelloLogging.log"
         traceOutputOptions="ProcessId, LogicalOperationStack, DateTime, Timestamp"
         logRetentionOption="LimitedCircularFiles"
		 maximumNumberOfFiles="2"
         maximumFileSize="100000" />
	  <add name="etw"
	     type="System.Diagnostics.Eventing.EventProviderTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"
		 initializeData="{B3F0C8FC-E8A8-4868-8901-1465E8A2F41B}"
		 />
    </sharedListeners>
  </system.diagnostics>
</configuration>
