<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime">
      </add>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener" template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data} [{LogicalOperationStack}]" convertWriteToEvent="true">
      </add>
    </sharedListeners>
    <sources>
      <source name="ExtensionsLoggingNet451">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
      <source name="ExtensionsLoggingNet451.Foo.Bar" switchValue="Warning">
      </source>
    </sources>
    <switches>
      <add name="Example.Switch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <clear />
        <add name="coloredconsole" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
