<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="console"
        type="System.Diagnostics.ConsoleTraceListener"
        traceOutputOptions="DateTime">
      </add>
    </sharedListeners>
    <sources>
      <source name="ExtensionsLoggingNet451">
        <listeners>
          <clear />
          <add name="console" />
        </listeners>
      </source>
      <source name="ExtensionsLoggingNet451.Foo.Bar" switchValue="Warning">
      </source>
    </sources>
    <switches>
      <add name="Example.Switch" value="All"/>
    </switches>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>
