<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network
          host="localhost"
          port="25"
          defaultCredentials="true"
        />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>