<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="emailTraceListener"
           type="Essential.Diagnostics.EmailTraceListener, Essential.DiagnosticsExtra"
           fromAddress="andy@fonlowmail.com" toAddress="arnold@fonlowmail.com" maxConnections="8" />

      </listeners>
    </trace>

  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network
          host="localhost"
          port="25"
          defaultCredentials="true"
        />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>