<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <!--<trace autoflush="true" />-->
    <sources>
      <source name="Essential.Diagnostics.Fluent.Tests" switchValue="All">
        <listeners>
          <clear />
          <add name="assemblyTest" />
        </listeners>
      </source>
      <source name="testScope1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="testScope1" />
        </listeners>
      </source>
      <source name="testScope2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="testScopeListener" type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility"/>
          <add name="testScopeXmlWriter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="testScope.svclog" />
        </listeners>
      </source>
      <source name="tracelogTestSource" switchValue="All">
        <listeners>
          <clear />
          <add name="tracelogTestListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="assemblyTest"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility" />
      <add name="testScope1"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility"/>
      <add name="tracelogTestListener"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>