<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <!--
        EmailTraceListener - Adds formatted trace messages to a buffer and sends an email when the process exits, or on request.
        
	      Sends each trace message received in an email, using the specified subject and 
        body templates.
        
        It is strongly recommended to set a filter to only accept Warning and above errors,
        or otherwise reduce the number of trace events that are processed by this listener
	      to avoid flooding.

        Sending an email is an expensive operation, so messages are queued and sent on
        a separate thread. If there is a flood of messages exceeding the queue size then
        messages will be dropped.
        
        initializeData - Email address of the recipient. Multiple recipients may be separated by commas.

        traceOutputOptions - Ignored.
        
        maxConnections - Maximum SMTP client connections in pool. Default 2 connections.

        subjectTemplate	- With a subject extracted from a trace message, the listener will substitute the subject with additional information. 

        bodyTemplate - The listener will substitute all trace messages with additional information to form the body of the email message. 

        <add name="email"
          type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics"
          initalizeData=""
          maxConnections="2"
          subjectTemplate="{MessagePrefix} - Machine: {MachineName}; User: {User}; Process: {Process}; AppDomain: {AppDomain}"
          bodyTemplate="Time: {LocalDateTime}&#xD;&#xA;Machine: {MachineName}&#xD;&#xA;User: {User}&#xD;&#xA;Process: {Process}&#xD;&#xA;AppDomain: {AppDomain}&#xD;&#xA;&#xD;&#xA;{Message}"
          />
      -->
      <add name="email"
        type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics"
        initializeData="user1@example.org,user2@example.org">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Warning" />
      </add>
    </sharedListeners>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <clear />
          <add name="email" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <clear />
          <add name="email" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <!--
        If using a test SMTP server, such as smtp4dev, you can change
        to deliveryMethod="Network".
      -->
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="diagnostics@example.org">
        <network
          host="localhost"
          defaultCredentials="true" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailPickup" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
