<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="filelog" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="filelog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="filelog"
         type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
         initializeData="HelloFileLog.txt"
         baseFileName=""
           delimiter=""
           includeHostName=""
           logFileCreationSchedule=""
           maxFileSize=""
           traceOuputOptions="">
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
