<configuration>
  <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <system.diagnostics>
    <sources>
      <source name="TraceSource.TestAspNetCoreOnNetFx" switchValue="All">
        <listeners>
          <clear />
          <add name="textwriter" />
          <add name="rollingfile" />
        </listeners>
      </source>
      <source name="Logger">
        <listeners>
          <clear />
          <add name="textwriter" />
          <add name="rollingfile" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="textwriter"
         type="System.Diagnostics.TextWriterTraceListener"
         initializeData="TestAspNetCoreOnNetFx-Trace.txt" >
      </add>
      <add name="rollingfile"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener"
        initializeData="C:\Temp\Logs\{ApplicationName}-{DateTime:yyyy-MM-dd}.txt" />
    </sharedListeners>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
