<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           activityTracingColor="DarkGreen"
           template="----------
ActivityId={ActivityId}
AppData={AppData}
AppDomain={AppDomain}
ApplicationName={ApplicationName}
Data={Data}
Data0={Data0}
DateTime={DateTime}
EventType={EventType}
Id={Id}
Listener={Listener}
LocalDateTime={LocalDateTime}
LogicalOperationStack={LogicalOperationStack}
MachineName={MachineName}
Message={Message}
MessagePrefix={MessagePrefix}
PrincipalName={PrincipalName}
Process={Process}
ProcessId={ProcessId}
ProcessName={ProcessName}
RelatedActivityId={RelatedActivityId}
RequestPath={RequestPath}
RequestUrl={RequestUrl}
Source={Source}
Thread={Thread}
ThreadId={ThreadId}
ThreadName={ThreadName}
Timestamp={Timestamp}
User={User}
UserHostAddress={UserHostAddress}
WindowsIdentityName={WindowsIdentityName}
UnknownToken={UnknownToken}
Callstack={Callstack}
----------" 
           />
    </sharedListeners>
    <sources>
      <source name="TemplateArguments" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>