<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           activityTracingColor="DarkGreen"
           template="----------
ActivityId={ActivityId}
ApplicationName={ApplicationName}
Callstack=&lt;not shown -- has multiple lines&gt;
Data={Data}
Data0={Data0}
DateTime={DateTime}
EventType={EventType}
Id={Id}
LocalDateTime={LocalDateTime}
LogicalOperationStack={LogicalOperationStack}
MachineName={MachineName}
Message={Message}
PrincipalName={PrincipalName}
ProcessId={ProcessId}
ProcessName={ProcessName}
RelatedActivityId={RelatedActivityId}
Source={Source}
Thread={Thread}
ThreadId={ThreadId}
ThreadName={ThreadName}
Timestamp={Timestamp}
WindowsIdentityName={WindowsIdentityName}           
----------" 
           />
    </sharedListeners>
    <sources>
      <source name="TemplateArguments" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>