<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
      diagnostics_regsql.exe tool
	  
      Use the following command line to install the default database on the 
      local SQL instance, using Windows credentials:
	  
      .\diagnostics_regsql.exe -E -AD
    -->
    <add name="diagnosticsdb"
      providerName="System.Data.SqlClient"
      connectionString="server=.;database=diagnosticsdb;Integrated Security=SSPI" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="sqldatabase" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="sqldatabase" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--
        SqlDatabaseTraceListener - Trace listener that writes to a database table.

        This listener writes to the database table created by the diagnostics_regsql 
        tool (via the stored procedure created by the tool). Usually all you need to
        provide is the name of the connection string of the database to use.
		
        Alternatively you can supply your own command text, which may use the SQL 
        parameters: @ApplicationName, @Source, @Id, @EventType, @UtcDateTime, 
            @MachineName, @AppDomainFriendlyName, @ProcessId, @ThreadName, 
            @Message, @ActivityId, @RelatedActivityId, @LogicalOperationStack, 
            @Data.
		
        See the diagnostics_regsql tool and the associated SQL file for details of
        the SQL parameters.
		
        initalizeData - Name of the connection string of the database to write to.

        traceOutputOptions - ignored
		
        applicationName - Application name to use when writing to the database; set this
        value when the database is shared between multiple applications. The 
        default value is an empty string.
		
        commandText - Command to use when calling the database. The default is
        the diagnostics_Trace_AddEntry stored procedure created by
        the diagnostics_regsql tool.
		
        maxMessageLength - Maximum length of the message text to write to the database,
        where the database column has limited size. Messages (after inserting
        format parameters) are trimmed to this length, with the last three
        characters replaced by "..." if the original message was longer. The default
        value is 1,500.
		
        <add name="sqldatabase"
          type="Essential.Diagnostics.SqlDatabaseTraceListener, Essential.Diagnostics" 
          initializeData=""
          applicationName=""
          commandText="EXEC diagnostics_Trace_AddEntry @ApplicationName, @Source, @Id, @EventType, @UtcDateTime, @MachineName, @AppDomainFriendlyName, @ProcessId, @ThreadName, @Message, @ActivityId, @RelatedActivityId, @LogicalOperationStack, @Data;"
          maxMessageLength="1500"
          />
      -->
      <add name="sqldatabase"
        type="Essential.Diagnostics.SqlDatabaseTraceListener, Essential.Diagnostics"
        initializeData="diagnosticsdb"
        applicationName="Diagnostics.Sample" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
