<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="rollingfile" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="rollingfile" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--
        RollingFileTraceListener - Writes to a text file, rolling to a new file based 
        on a filename template (usually including the date).

        initalizeData - template file path to write to.
        
        traceOutputOptions - ignored
        
        convertWriteToEvent - if false (default), calls to Trace.Write() and Trace.WriteLine() are output directly to the file; if true, these messages are converted to event traces with
        a TraceEventType of Verbose (and formatted the same as other events).
        
        template - the format template to use (see above for values)

        <add name="rollingfile"
          type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
          initializeData="{ApplicationName}-{DateTime:yyyy-MM-dd}.log"
          convertWriteToEvent="false|true" 
          template="{DateTime:u} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}"
          />
      -->
      <add name="rollingfile"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="C:\Logs\{ApplicationName}-{DateTime:yyyy-MM-dd}.log"
        convertWriteToEvent="true" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
