<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        filePath="enterpriselibrary.config" />
    </sources>
    <redirectSections>
      <add sourceName="File-based Configuration Source" name="loggingConfiguration" />
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <system.diagnostics>
    <sharedListeners>
      <add name="filelog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="DateTime,ThreadId" customLocation="Logs" location="Custom" logFileCreationSchedule="Daily"/>
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" initializeData="Logs\Essential-{DateTime:yyyy-MM-dd}.log" template="{Source} {EventType} {Id}  {Message}{Data} {DateTime:u} {ThreadId}"/>
    </sharedListeners>
    <sources>
      <source name="ClearSource1" switchValue="All">
        <listeners>
          <clear/>
        </listeners>
      </source>
      <source name="ClearSource2" switchValue="All">
        <listeners>
          <clear/>
        </listeners>
      </source>
      <source name="SwitchOffSource1" switchValue="Off">
        <listeners>
          <clear/>
        </listeners>
      </source>
      <source name="SwitchOffSource2" switchValue="Off">
        <listeners>
          <clear/>
        </listeners>
      </source>
      <source name="FullSource1" switchValue="All">
        <listeners>
          <clear/>
          <add name="filelog"/>
        </listeners>
      </source>
      <source name="WarningSource1" switchValue="Warning">
        <listeners>
          <clear/>
          <add name="filelog"/>
        </listeners>
      </source>
      <source name="WarningSource2" switchValue="Warning">
        <listeners>
          <clear/>
          <add name="filelog"/>
        </listeners>
      </source>
      <source name="NoClearFullSource1" switchValue="All">
        <listeners>
          <add name="filelog"/>
        </listeners>
      </source>
      <source name="NoClearWarningSource1" switchValue="Warning">
        <listeners>
          <add name="filelog"/>
        </listeners>
      </source>
      <source name="NoClearWarningSource2" switchValue="Warning">
        <listeners>
          <add name="filelog"/>
        </listeners>
      </source>
      <source name="EssentialFullSource1" switchValue="All">
        <listeners>
          <clear/>
          <add name="rollingfile"/>
        </listeners>
      </source>
      <source name="EssentialWarningSource1" switchValue="Warning">
        <listeners>
          <clear/>
          <add name="rollingfile"/>
        </listeners>
      </source>
      <source name="EssentialWarningSource2" switchValue="Warning">
        <listeners>
          <clear/>
          <add name="rollingfile"/>
        </listeners>
      </source>
      <!-- Bad example: will severely impact performance -->
      <source name="BadSource" switchValue="All">
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="5.0.414.0" newVersion="5.0.505.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="5.0.414.0" newVersion="5.0.505.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
