<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="filelog"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="DateTime,ThreadId"
        customLocation="Logs"
        location="Custom"
        logFileCreationSchedule="Daily" />
    </sharedListeners>
    <sources>
      <source name="ClearSource1" switchValue="All">
        <listeners>
          <clear />
        </listeners>
      </source>
      <source name="ClearSource2" switchValue="All">
        <listeners>
          <clear />
        </listeners>
      </source>
      <source name="FullSource1" switchValue="All">
        <listeners>
          <clear />
          <add name="filelog" />
        </listeners>
      </source>
      <source name="WarningSource1" switchValue="Warning">
        <listeners>
          <clear />
          <add name="filelog" />
        </listeners>
      </source>
      <source name="WarningSource2" switchValue="Warning">
        <listeners>
          <clear />
          <add name="filelog" />
        </listeners>
      </source>
      <source name="NoClearFullSource1" switchValue="All">
        <listeners>
          <add name="filelog" />
        </listeners>
      </source>
      <source name="NoClearWarningSource1" switchValue="Warning">
        <listeners>
          <add name="filelog" />
        </listeners>
      </source>
      <source name="NoClearWarningSource2" switchValue="Warning">
        <listeners>
          <add name="filelog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>