<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" />
      <add name="rollingfile1"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="File1-EventTypeFilter.log">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information" />
      </add>
      <add name="rollingfile2"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="File1-PropertyFilter.log">
        <filter type="Essential.Diagnostics.PropertyFilter, Essential.Diagnostics"
                initializeData="Id == 0" />
      </add>
      <add name="rollingfile3"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="File3-ExpressionFilter.log">
        <filter type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics"
                initializeData=" Id >= 4000 " />
      </add>
      <add name="rollingfile4"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="File4-PrincipalName.log">
        <filter type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics"
                initializeData=' System.Threading.Thread.CurrentPrincipal.Identity.Name == "User1" ' />
      </add>
    </sharedListeners>
    <sources>
      <source name="FilteringExample" switchValue="All">
        <listeners>
          <add name="coloredconsole" />
          <add name="rollingfile1" />
          <add name="rollingfile2" />
          <add name="rollingfile3" />
          <add name="rollingfile4" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>