<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" />
      <add name="filelog1"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        customLocation="Log1"
        location="Custom">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information" />
      </add>
      <add name="filelog2"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        customLocation="Log2"
        location="Custom">
        <filter type="Essential.Diagnostics.PropertyFilter, Essential.Diagnostics"
                initializeData="Id == 2001" />
      </add>
      <add name="filelog3"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        customLocation="Log3"
        location="Custom">
        <filter type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics"
                initializeData=" Id >= 2002 " />
      </add>
      <add name="filelog4"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        customLocation="Log4"
        location="Custom">
        <filter type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics"
                initializeData=' System.Threading.Thread.CurrentPrincipal.Identity.Name == "User1" ' />
      </add>
    </sharedListeners>
    <sources>
      <source name="FilteringExample" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="coloredconsole" />
          <add name="filelog1" />
          <add name="filelog2" />
          <add name="filelog3" />
          <add name="filelog4" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>