<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener">
      </add>
      <add name="rollingfile1"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener"
        initializeData="File1-EventTypeFilter.log">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Warning" />
      </add>
      <add name="rollingfile2"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener"
        initializeData="File2-ExpressionFilter.log">
        <filter type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics.Core"
                initializeData=' Id >= 8000 || System.Threading.Thread.CurrentPrincipal.Identity.Name == "User1" ' />
      </add>
    </sharedListeners>
    <sources>
      <source name="FilteringExample" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="rollingfile1" />
          <add name="rollingfile2" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>