<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <!--
        InMemoryTraceListener - Records trace events in memory, within a circular buffer. 
        The buffer limit can be set by the initialization data.
        
        Trace events are copied to an immutable format, so values are recorded as at the
        time of the trace. A copy of the current buffer can be retrieved from the object.
		
        This class can be useful for testing.
		
        initalizeData - integer size of the circular buffer; the default is 20.

        traceOutputOptions - ignored
		
        <add name="inmemory"
          type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics" 
          initalizeData="20"
	  	  />
  	  -->
      <add name="inmemory"
        type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics" />
    </sharedListeners>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <clear />
          <add name="inmemory" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <clear />
          <add name="inmemory" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
