<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="emailSource" switchValue="All">
        <listeners>
          <clear />
          <add name="email" />
        </listeners>
      </source>
      <source name="emailFilterSource" switchValue="All">
        <listeners>
          <clear />
          <add name="emailFilter" />
        </listeners>
      </source>
      <source name="emailFloodSource" switchValue="All">
        <listeners>
          <clear />
          <add name="emailFlood" />
        </listeners>
      </source>
      <source name="emailFlood2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="emailFlood2" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="email"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics.EmailTraceListener"
           initializeData="user2@example.com"
           maxConnections="2"
           maxTracesPerHour="0" />
      <add name="emailFilter"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics.EmailTraceListener"
           initializeData="user3@example.com"
           maxConnections="2" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="emailFlood"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics.EmailTraceListener"
           initializeData="user4@example.com"
           maxConnections="2" >
      </add>
      <add name="emailFlood2"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics.EmailTraceListener"
           initializeData="user4@example.com"
           maxTracesPerHour="100"
           maxConnections="2" >
      </add>
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="diagnostics@example.com">
        <network
          host="localhost"
          port="25"
          defaultCredentials="true"
        />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailPickup" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>