<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           template="[{ActivityId}] {EventType} {Id}: ({LogicalOperationStack}) {Message}"
           activityTracingColor="DarkGreen"
           transferColor="DarkMagenta" />
    </sharedListeners>
    <sources>
      <source name="ScopeExample" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>