<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" />
      <add name="inmemory"
           type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics" />
    </sharedListeners>
    <sources>
      <source name="AbstractionDependency" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="inmemory" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>