<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener" />
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           template="{DateTime:s} {EventType}: {Message}"
           criticalColor="Red"
           errorColor="DarkRed"
           warningColor="Yellow"
           informationColor="Gray"
           verboseColor="DarkCyan">
        <!-- Can not add a filter to existing listener via config refresh
             if there was not one to start with (NullReferenceException).
             Work around is to create a new listener by also changing the
             name. 
             This workaround can also be used for listeners that cache
             configuration attributes.
             NOTE: Changing initializeData also creates a new listener. -->
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="All" />
      </add>
    </sharedListeners>
    <sources>
      <source name="MonitorConfig" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>