<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener">
        <!-- Can not add a filter to existing listener via config refresh
             if there was not one to start with (NullReferenceException).
             Work around is to create a new listener by also changing the
             name. 
             This workaround can also be used for listeners that cache
             configuration attributes.
             NOTE: Changing initializeData also creates a new listener. -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="filelog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           traceOutputOptions="DateTime,ThreadId,LogicalOperationStack"
           autoFlush="true"
           customLocation="Logs"
           location="Custom"
           logFileCreationSchedule="Daily"
           maxFileSize="5000000"
           reserveDiskSpace="10000000">
      </add>
    </sharedListeners>
    <sources>
      <source name="MonitorConfig" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="0">
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
