<?xml version="1.0"?>
<configuration>
  <system.diagnostics>

    <trace autoflush="true" indentsize="4" useGlobalLock="false">
      <listeners>
        <add name="email" 
             type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics.EmailTraceListener" 
             initializeData="user1@example.com"
             maxTracesPerHour="0"
             maxConnections="2">
          <filter type="System.Diagnostics.EventTypeFilter"
                  initializeData="Warning" />
        </add>
      </listeners>
    </trace>

  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="diagnostics@example.org">
        <network host="localhost" port="9999" defaultCredentials="true"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailPickup"/>
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
