<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}" startColor="DarkCyan" stopColor="DarkCyan" convertWriteToEvent="true" />
      <add name="seq-basic" type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener" initializeData="http://localhost:5341" traceOutputOptions="LogicalOperationStack" apiKey="" />
      <add name="seq-detailed" type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener" initializeData="http://localhost:5341" additionalProperties="ThreadId,ProcessId,LogicalOperationStack,Callstack,MachineName,User" apiKey="" />
    <add name="example-filelog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="DateTime,ThreadId,LogicalOperationStack" autoFlush="true" customLocation="C:\Temp\Logs" location="Custom" logFileCreationSchedule="Daily" maxFileSize="5000000" reserveDiskSpace="10000000">
        <!--
          Writes to a rolling text file. You need to specify the version of the library corresponding to the .NET Framework you have installed, and make sure the customLocation exists.
        -->
      </add></sharedListeners>
    <sources>
      <source name="SeqFrameworkDiagnostics.Example.Basic" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="seq-basic" />
        </listeners>
      </source>
      <source name="SeqFrameworkDiagnostics.Example" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="seq-basic" />
        </listeners>
      </source>
      <source name="SeqFrameworkDiagnostics.Example.Detailed" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="seq-detailed" />
        </listeners>
      </source>
    <source name="Example.Program" switchValue="All">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear />
          <add name="example-filelog" />
        </listeners>
      </source></sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          For performance also clear the default listener, and turn indent off to avoid confusion for multithreaded traces.
        --><clear />
        <add name="coloredconsole" />
        <add name="seq-basic" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>