<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Environment" value="Local" />
  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="seq-basic" 
           type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener" 
           initializeData="http://localhost:5341" 
           apiKey="" />
      <add name="seq-detailed" 
           type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener" 
           initializeData="http://localhost:5341" 
           additionalProperties="ThreadId,ProcessId,Callstack,MachineName,User" 
           apiKey="" />
    </sharedListeners>
    <sources>
      <source name="SeqFrameworkDiagnostics.Example.Basic" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
          <add name="seq-basic" />
        </listeners>
      </source>
      <source name="SeqFrameworkDiagnostics.Example" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
          <add name="seq-basic" />
        </listeners>
      </source>
      <source name="SeqFrameworkDiagnostics.Example.Detailed" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
          <add name="seq-detailed" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          Also add listener for legacy Trace.Write() statements (not using a TraceSource).
          For performance also clear the default listener, and turn indent off to avoid confusion for multithreaded traces.
        -->
        <clear />
        <add name="console" />
        <add name="seq-basic" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Essential.Diagnostics.Core" publicKeyToken="9d041bca93991466" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>