@{
    ViewBag.Title = "Index";
}

<h2>Hello</h2>
<p>
    To learn more about Essential.Diagnostics visit <a href="http://essentialdiagnostics.codeplex.com" title="Essential.Diagnostics on Codeplex">http://essentialdiagnostics.codeplex.com</a>.
</p>
