<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="rollingXml1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingXml1" />
        </listeners>
      </source>
      <source name="rollingXml2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingXml2" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="rollingXml1"
           type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics.RollingXmlTraceListener" />
      <add name="rollingXml2"
           type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics.RollingXmlTraceListener"
           initializeData="Trace{DateTime:yyyyMMdd}.svclog" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>