<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="seq1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="seq1" />
        </listeners>
      </source>
      <source name="seq2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="seq2" />
        </listeners>
      </source>
      <source name="seq3Source" switchValue="All">
        <listeners>
          <clear />
          <add name="seq3" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="seq1"
        type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener"
        initializeData="http://127.0.0.1:5341"
        apiKey="11111" />
      <add name="seq2"
        type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener"
        initializeData="http://localhost:5341"
        traceOutputOptions="Callstack,LogicalOperationStack,ProcessId,ThreadId"
        apiKey="12345" />
      <add name="seq3"
        type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener"
        initializeData="http://test3/"
        traceOutputOptions="ProcessId,ThreadId"
        additionalProperties="ThreadId,MachineName" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
        <add name="seq1" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>