<?xml version="1.0"?>
<configuration>
  <system.diagnostics>

    <trace autoflush="true" indentsize="4" useGlobalLock="true">
      <listeners>
        <add name="bufferedEmail" 
             type="Essential.Diagnostics.BufferedEmailTraceListener, Essential.Diagnostics.BufferedEmailTraceListener"
             initializeData="buffered@example.com"
             maxConnections="2"
             headerTemplate="Machine: {MachineName}&#xD;&#xA;User: {User}&#xD;&#xA;Time: {LocalDateTime}&#xD;&#xA;&#xD;&#xA;"
             traceTemplate="{MESSAGE}">
          <filter type="System.Diagnostics.EventTypeFilter"
            initializeData="Warning" />
        </add>
      </listeners>
    </trace>

  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="diagnostics@example.org">
        <network host="localhost" port="9999" defaultCredentials="true"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailPickup"/>
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
