<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <!--
        EventSchemaTraceListener
        
        Writers XML fragments to a file using the Event schema.
        
        You always want to have the traceOutputOptions="ProcessId,DateTime", otherwise the
        trace will not contain process/thread information or date & time of the event!
        
        Several logRetentionOption settings are available, with LimitedCircularFiles 
        creating a fixed number of logs that are overwritten on a circular basis, 
        based on the maximumNumberOfFiles and maximumFileSize settings.
        
        For performance reasons files are written to in chunks, using the specified buffer.
        
        See: http://msdn.microsoft.com/en-us/library/system.diagnostics.eventschematracelistener.aspx
        
        Although the Service Trace Viewer Tool (SvcTraceViewer.exe) can import these files, it
        does a pretty bad job of converting to the .svclog format and loses the most important
        bit of information - the actual message itself!
        
      -->
      <add name="events"
        type="System.Diagnostics.EventSchemaTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        initializeData="TraceOutput.xml"
        traceOutputOptions="ProcessId,DateTime"
        logRetentionOption="LimitedCircularFiles"
        maximumNumberOfFiles="9"
        maximumFileSize="1048576"
        bufferSize="65536" />
    </sharedListeners>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <clear />
          <add name="events" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <clear />
          <add name="events" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
