<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="bufferedEmailSource" switchValue="All">
        <listeners>
          <clear/>
          <add name="bufferedEmail" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="bufferedEmail"
           type="Essential.Diagnostics.BufferedEmailTraceListener, Essential.Diagnostics.BufferedEmailTraceListener"
           initializeData="user2@example.com"
           maxConnections="1" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
        <!-- Need to register here so that Send() can be called. -->
        <add name="bufferedEmail" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="diagnostics@example.com">
        <network
          host="localhost"
          port="25"
          defaultCredentials="true"
        />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailPickup" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>