<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="testSource" switchValue="All">
        <listeners>
          <clear />
          <add name="test" />
        </listeners>
      </source>
      <source name="testConfigMonitorSource" switchValue="All">
        <listeners>
          <clear />
          <add name="testConfigMonitor" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="test"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility" />
      <add name="testConfigMonitor"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests.Utility"
           initializeData="InitializeDataInAppConfig" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
        <add name="test" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>