<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.data.mockdb" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <connectionStrings>
    <add name="TestProvider" connectionString="" providerName="Essential.Diagnostics.Tests.MockDbProvider" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Mock Data Provider for testing" invariant="Essential.Diagnostics.Tests.MockDbProvider" description="Mock Data Provider for testing" type="Essential.Diagnostics.Tests.Utility.MockDbFactory, Essential.Diagnostics.Tests"/>
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <!--<trace autoflush="true" />-->
    <sources>
      <source name="Essential.Diagnostics.Tests" switchValue="All">
        <listeners>
          <clear />
          <add name="assemblyTest" />
        </listeners>
      </source>
      <source name="bufferedEmailSource" switchValue="All">
        <listeners>
          <clear/>
          <add name="bufferedEmail" />
        </listeners>
      </source>
      <source name="colored1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="colored1" />
        </listeners>
      </source>
      <source name="colored2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="colored2" />
        </listeners>
      </source>
      <source name="emailSource" switchValue="All">
        <listeners>
          <clear />
          <add name="email" />
        </listeners>
      </source>
      <source name="emailFilterSource" switchValue="All">
        <listeners>
          <clear />
          <add name="emailFilter" />
        </listeners>
      </source>
      <source name="emailFloodSource" switchValue="All">
        <listeners>
          <clear />
          <add name="emailFlood" />
        </listeners>
      </source>
      <source name="emailFlood2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="emailFlood2" />
        </listeners>
      </source>
      <source name="expressionFilter1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="inmemory1">
            <filter type="ExpressionFilter" initializeData=""/>
          </add>
        </listeners>
      </source>
      <source name="inmemory1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="inmemory1" />
        </listeners>
      </source>
      <source name="inmemory2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="inmemory2" />
        </listeners>
      </source>
      <source name="rollingFile1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingFile1" />
        </listeners>
      </source>
      <source name="rollingFile2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingFile2" />
        </listeners>
      </source>
      <source name="rollingXml1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingXml1" />
        </listeners>
      </source>
      <source name="rollingXml2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingXml2" />
        </listeners>
      </source>
      <source name="sql1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="sql1" />
        </listeners>
      </source>
      <source name="sql2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="sql2" />
        </listeners>
      </source>
      <source name="testSource" switchValue="All">
        <listeners>
          <clear />
          <add name="test" />
        </listeners>
      </source>
      <source name="testScopeSource" switchValue="All">
        <listeners>
          <clear />
          <add name="testScopeListener" type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests"/>
          <add name="testScopeXmlWriter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="testScope.svclog" />
        </listeners>
      </source>
      <source name="tracelogTestSource" switchValue="All">
        <listeners>
          <clear />
          <add name="tracelogTestListener" />
        </listeners>
      </source>

    </sources>
    <sharedListeners>
      <add name="assemblyTest"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests" />
      <add name="bufferedEmail"
           type="Essential.Diagnostics.BufferedEmailTraceListener, Essential.Diagnostics"
           initializeData="user2@example.com"
           maxConnections="1" />
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener"
           traceOutputOptions="LogicalOperationStack" />
      <add name="colored1"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           template="{DateTime} {EventType}: {Message}"
           criticalColor="DarkBlue"
           errorColor="DarkGreen"
           warningColor="DarkCyan"
           informationColor="DarkRed"
           verboseColor="Gray"
           activityTracingColor="DarkGray"
           transferColor="Blue" />
      <add name="colored2"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           initializeData="true"
           convertWriteToEvent="true"
           startColor="DarkBlue"
           stopColor="DarkGreen"
           suspendColor="DarkCyan"
           resumeColor="DarkRed" />
      <add name="email"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics"
           initializeData="user2@example.com"
           maxConnections="2"
           maxTracesPerHour="0" />
      <add name="emailFilter"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics"
           initializeData="user3@example.com"
           maxConnections="2" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="emailFlood"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics"
           initializeData="user4@example.com"
           maxConnections="2" >
      </add>
      <add name="emailFlood2"
           type="Essential.Diagnostics.EmailTraceListener, Essential.Diagnostics"
           initializeData="user4@example.com"
           maxTracesPerHour="100"
           maxConnections="2" >
      </add>
      <add name="inmemory1"
           type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics"
           initializeData="10" />
      <add name="inmemory2"
           type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics"
           initializeData="666" />
      <add name="rollingFile1"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" />
      <add name="rollingFile2"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
           initializeData="Trace{DateTime:yyyyMMdd}.log"
           template="{DateTime},{EventType},{Message}"
           convertWriteToEvent="true" />
      <add name="rollingXml1"
           type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics" />
      <add name="rollingXml2"
           type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics"
           initializeData="Trace{DateTime:yyyyMMdd}.svclog" />
      <add name="sql1"
           type="Essential.Diagnostics.SqlDatabaseTraceListener, Essential.Diagnostics"
           initializeData="TestProvider" />
      <add name="sql2"
           type="Essential.Diagnostics.SqlDatabaseTraceListener, Essential.Diagnostics"
           initializeData="TestProvider"
           applicationName="App2"
           commandText="Command2"
           maxMessageLength="10" />
      <add name="test"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests" />
      <add name="tracelogTestListener"
           type="Essential.Diagnostics.Tests.Utility.TestTraceListener, Essential.Diagnostics.Tests" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
        <add name="test" />
        <!-- Need to register here so that Send() can be called. -->
        <add name="bufferedEmail" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="diagnostics@example.com">
        <network
          host="localhost"
          port="25"
          defaultCredentials="true"
        />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailPickup" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>