<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <!--
        RollingXmlTraceListener - Writes writes E2ETraceEvent XML fragments to a 
        text file, rolling to a new file based on a filename template (usually 
        including the date).
		
        The E2ETraceEvent XML fragment format can be read by the Service Trace Viewer tool.

        initalizeData - template file path to write to.
        
        traceOutputOptions - ignored
        
        <add name="rollingxml"
          type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics"
          initializeData="{ApplicationName}-{DateTime:yyyy-MM-dd}.svclog"
        />
      -->
      <add name="rollingxml"
        type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics"
        initializeData="Logs\{ApplicationName}-{DateTime:yyyyMMdd}.svclog" />
    </sharedListeners>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <clear />
          <add name="rollingxml" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingxml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
