<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="inmemory1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="inmemory1" />
        </listeners>
      </source>
      <source name="inmemory2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="inmemory2" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="inmemory1"
           type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics.InMemoryTraceListener"
           initializeData="10" />
      <add name="inmemory2"
           type="Essential.Diagnostics.InMemoryTraceListener, Essential.Diagnostics.InMemoryTraceListener"
           initializeData="666" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>