<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="rollingFile1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingFile1" />
        </listeners>
      </source>
      <source name="rollingFile2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="rollingFile2" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="rollingFile1"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener" />
      <add name="rollingFile2"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener"
           initializeData="Trace{DateTime:yyyyMMdd}.log"
           template="{DateTime},{EventType},{Message}"
           convertWriteToEvent="true" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>