<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="eventsA"
        type="System.Diagnostics.EventSchemaTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        initializeData="EventsA.xml"
        traceOutputOptions="None"
        bufferSize="32768"
        maximumFileSize="131072"
        logRetentionOption="SingleFileUnboundedSize"
        maximumNumberOfFiles="3"/>
      <add name="eventsB"
        type="System.Diagnostics.EventSchemaTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        initializeData="EventsB.xml"
        traceOutputOptions="ProcessId"
        bufferSize="32768"
        maximumFileSize="131072"
        logRetentionOption="SingleFileBoundedSize"
        maximumNumberOfFiles="3"/>
      <add name="eventsC"
        type="System.Diagnostics.EventSchemaTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        initializeData="EventsC.xml"
        traceOutputOptions="DateTime"
        bufferSize="32768"
        maximumFileSize="131072"
        logRetentionOption="UnlimitedSequentialFiles"
        maximumNumberOfFiles="3"/>
      <add name="eventsD"
        type="System.Diagnostics.EventSchemaTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        initializeData="EventsD.xml"
        traceOutputOptions="Timestamp"
        bufferSize="32768"
        maximumFileSize="131072"
        logRetentionOption="LimitedCircularFiles"
        maximumNumberOfFiles="3"/>
    </sharedListeners>
    <sources>
      <source name="RetentionExample" switchValue="All">
        <listeners>
          <clear />
          <add name="eventsA" />
          <add name="eventsB" />
          <add name="eventsC" />
          <add name="eventsD" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>