<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="seq" type="Essential.Diagnostics.SeqTraceListener, Essential.Diagnostics.SeqTraceListener" initializeData="http://localhost:5341" additionalProperties="ThreadId,ProcessId,LogicalOperationStack,MachineName" apiKey="" />
      <add name="filelog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="DateTime,ThreadId,LogicalOperationStack" autoFlush="true" customLocation="C:\Temp\Logs" location="Custom" logFileCreationSchedule="Daily" maxFileSize="5000000" reserveDiskSpace="10000000" />
    </sharedListeners>
    <sources>
      <source name="StructuredTracing.Example" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
          <add name="seq" />
          <add name="filelog" />
        </listeners>
      </source>
      <source name="System.Net" switchValue="Error">
        <listeners>
          <clear />
          <add name="console" />
          <add name="seq" />
          <add name="filelog" />
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
          <add name="seq" />
          <add name="filelog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <clear />
        <add name="console" />
        <add name="seq" />
        <add name="filelog" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>