<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Diagnostics.Core" version="2.1.728" targetFramework="net451" />
  <package id="Essential.Diagnostics.SeqTraceListener" version="2.1.728" targetFramework="net451" />
  <package id="Essential.Diagnostics.Structured" version="2.1.728" targetFramework="net451" />
  <package id="Essential.Diagnostics.StructuredExtensions" version="2.1.728" targetFramework="net451" />
</packages>