<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--
        ConsoleTraceListener - Writes to the console output or error stream.
        
        Each event includes the Source, EventType, Id and Message. Depending on 
        traceOutputOptions, additional lines may be written
        
        For an alternative that uses color to highlight event types and allows a
        customised output format see ColoredConsoleTraceListener.
        
        initalizeData - if false (default) the listener writes to the console output stream;
        if true the listener writes to the console error stream instead.
        
        traceOutputOptions - are written on separate lines after each trace output.
        
        <add name="console"
          type="System.Diagnostics.ConsoleTraceListener"
          initalizeData="false|true"
          traceOutputOptions="ProcessId,LogicalOperationStack,ThreadId,DateTime,Timestamp,Callstack"
          />
      -->
      <add name="console"
         type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
