<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="colored1Source" switchValue="All">
        <listeners>
          <clear />
          <add name="colored1" />
        </listeners>
      </source>
      <source name="colored2Source" switchValue="All">
        <listeners>
          <clear />
          <add name="colored2" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="colored1"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener"
           template="{DateTime} {EventType}: {Message}"
           criticalColor="DarkBlue"
           errorColor="DarkGreen"
           warningColor="DarkCyan"
           informationColor="DarkRed"
           verboseColor="Gray"
           activityTracingColor="DarkGray"
           transferColor="Blue" />
      <add name="colored2"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener"
           initializeData="true"
           convertWriteToEvent="true"
           startColor="DarkBlue"
           stopColor="DarkGreen"
           suspendColor="DarkCyan"
           resumeColor="DarkRed" />
    </sharedListeners>    
    <trace autoflush="true" indentsize="4" useGlobalLock="false" >
      <listeners>
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>