<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="console"           
        type="System.Diagnostics.ConsoleTraceListener"
        traceOutputOptions="DateTime,LogicalOperationStack,ThreadId">        
      </add>
      <add name="xmlwriter"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Trace-ScopeExample.svclog" >
      </add>
    </sharedListeners>
    <sources>
      <source name="ScopeExample" switchValue="All">
        <listeners>
          <clear />
          <add name="console" />
          <add name="xmlwriter" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
</configuration>