<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Diagnostics.BufferedEmailTraceListener" version="2.0.206" targetFramework="net40" />
  <package id="Essential.Diagnostics.Core" version="2.0.206" targetFramework="net40" />
  <package id="Essential.Diagnostics.EmailTraceListener" version="2.0.206" targetFramework="net40" />
</packages>