<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="HelloProgram" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="eventlog" />
        </listeners>
      </source>
      <source name="HelloWorker" switchValue="All">
        <listeners>
          <add name="eventlog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="eventlog"
         type="System.Diagnostics.EventLogTraceListener"
         initializeData="HelloLogName">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Warning" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
